@import '../../components/variables.css';
.root {
    padding: 20px;
}

.flowButton {
    margin: 13px 0px 0px 10px;
    flex-grow: 0;
    width: 100px;
}

.createButton {
    margin: 13px 0px 0px 10px;
    flex-grow: 0;
    width: 150px;
}

.formRow {
    align-items: flex-end;
    justify-content: flex-start;
}

.selectText {
    font-size: 18px;
    margin-top: 30px;
}

.section {
    padding: 0 10px 10px;
    margin-bottom: 20px;
    min-height: 750px;
}

.actions {
    justify-content: flex-start;
    align-items: center;
}

.action {
    flex: 0 0 auto;
    margin: 0 10px 0 0;
}

.botForm {
    max-width: 480px;
}

.createForm {
    max-width: 450px;
    margin: 10px 0;
}

.select {
    max-width: 600px;
}

.createFlow {
    margin-left: -5px;
    margin-top: -12px;
}

.headerelem {
    display: inline-block;
}

.saveButton {
    margin: 13px 0px 0px 10px;
    flex-grow: 0;
    width: 100px;
}

.formContainer {
    flex-direction: row;
    display: inline;
    padding-left: 20px;
    background-color: blue;
    padding-bottom: 30px;
}

.divStyle {
    display: inline-flex;
}

.errotText {
    color: red;
    font-weight: bold;
}

.tabs {
    /*border-top: 1px solid #ccc;*/
    margin-top: 10px;
}

.tabs> :first-child {
    background: transparent !important;
}

.tabs> :nth-child(2) {
    background: #ccc;
}

.tabs> :first-child button {
    color: black !important;
}

th {
    text-align: center;
    font-weight: normal;
    padding: 17px 67px 13px 15px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

button {
    margin-top: 14px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 33px;
    margin: 14px 12px;
    cursor: pointer;
}

select {
    color: white;
    border: 0px solid #c2c2c2;
    background-color: #4CAF50;
    padding: 7px 9px 7px 6px;
}

table {
    width: 100% !important;
}

.noresultmsg{
    background-color: #FFFFC1 !important;
    text-align: center !important;
    height: 43px;
    padding-top: 13px;
    border-radius: 4px;
    color: #757575;
    font-size: 13px;
}