@import '../../components/variables.css';

.root {
    flex-grow: 1;
    margin-top: 10%;
}

.loginTitle {
    text-align: center;
    font-weight: normal;
    margin-bottom: 40px;
}

.container {
    margin: 0 auto;
    padding: 0 40px 40px 40px;
    max-width: 380px;
}

.setPasswordButton {
    margin-top: 20px;
}

.textMsg {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.logoImg {
    width: 65px;
    height: 65px;
    display: block;
    margin: auto;
    padding-top: 5px
}
